@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body{
	background: #001219;
	color: #fffe;
	line-height: 32px;
}

.navbar  a{
	color: #ca6702;
	text-decoration: none;
	font-family: "Roboto Mono", monospace;
	font-size:19px;
	transition: 0.5s;
}
.navbar a:hover{
	color: #ee9b00;
}
.navbar a.active{
	color: #ee9b00;
	text-decoration: underline;
}
.navbar{
	display:flex;
}
.navbar li{
	list-style:none;
	padding:30px 20px;
}
.content{
	font-family: "Ubuntu Mono", monospace;
	margin-top:10px;
	padding:40px;
}
.feed{
	background: #fff1;
	border: solid #94d2bd30 1px;
	width: 60%;
	margin-top:10px;
}
hr{
  border: 0;
  border-top: 1px solid #94d2bd30;
  margin:0px;
}
.feed > .title{
	background: #0003;
	height: 30px;
	padding: 4px;
}
.feed > *{
	color:#fffc;
	padding : 0px 0px 10px 10px;
}
.feed > .title > label {
	padding-left: 10px;
}
.feed > .title > em{
	float: right;
	padding-right:12px;
	font-size:14px;
}
.link{
	color:#e9d8a6;
}
.file{
	padding:0px 30px;
	padding-top: 10px;
	margin:0px;
	font-size: 16px;
}
.file a {
	padding:0px;
	margin:0px;
	color: #ae2012;
	font-size:15px;
}
.file a:hover{
	color:#9b2226;
}
.terminal{
	padding-top: 10px;
	padding-bottom: 10px;
}
.terminal p {
	padding-top:0px;
}
.question{
	color: #fff;
	text-decoration: underline;
	display: inline;
}
.cmd{
	font-family: "VT323", monospace;
}
.response{
	margin-top: 0px;
}
@media only screen and (max-width: 600px) {
	.main_image{
		max-width: 100%;
		height: 240px;
	}
	.navbar{
		padding-left: 0px;
	}
	.navbar li {
		padding-right: 4px;
	}
	.content{
		padding: 16px;
	}
	.feed{
		width: 100%;
	}
	em{
		font-size:10px;
		width: 45%;
		text-align: right;
		white-space: nowrap;    /* Prevent line breaks */
		overflow: hidden;       /* Hide overflowing text */
		text-overflow: ellipsis;
	}
}

.link-logo{
	width: 32px;
	height: 32px;
}
