{% extends 'base.html' %}

{% block title %}
	Home
{% endblock %}

{% block content %}
{% load static %}
<h1 class="question cmd">$ cat /etc/passwd </h1><br><br>
<h3 class="response">
	My name is Ayoub Hedri also known online as (squar3)<br>
	I'm trying my best to improve my skills at Web developemenet. espacilly Backend developmenet.<br>
	In my free time I do a lot of small projects that you can find on my github and I like to participate in Gamejams/CTFs<br>
	I play a bit of CS2 and RUST<br>
	Also I mainly code in: python,rust<br>
</h3>
<br>
<h1 class="question cmd">$ cat ~/online_presence </h1><br><br>
<h3 class="response">
		<a target="_blank" class="link" href="https://www.linkedin.com/in/ayoub-hedri-84427a244/">Linkedin</a>
		<a target="_blank" class="link" href="https://github.com/FatSquare">Github</a>
		<a target="_blank" class="link" href="https://x.com/Sqrt0x0">X-Twitter</a>
</h3>
<br>
<h1 class="question cmd">$ cat /var/log/files <h1>
<div class="feed terminal">
	<p class="file">
		<img src="{% static 'icons/pdf.svg' %}" width="16px" height="16px" />
		<a target="_blank" href="{% static 'files/Ayoub_hedri.pdf' %}">personal_cv.pdf</a>
	</p>
	<p class="file">
		<img src="{% static 'icons/pdf.svg' %}" width="16px" height="16px" />
		<a target="_blank" href="{% static 'files/jusoor.pdf' %}">jusoorlabs_internship.pdf</a>
	</p>
</div>
{% endblock %}
