{% extends 'base.html' %}

{% block title %}
	Home
{% endblock %}

{% block head %}
	<meta property="og:title" content="Squar3 blog" />
	<meta property="og:description" content="I am Squar3 and this is my blog website where I share some comments and the interessting tasks I see in CTFs!" />
{% endblock %}

{% block content %}
	<h1>
		Hello I'm Square and this is my personal website.<br>
	</h1>
	<h3>
		"Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away." 
	</h3>
	<img class="main_image" src="https://cdn.dribbble.com/users/158127/screenshots/6400141/burronbg-export_dribble.gif" width="500px" height="360px">	
{% endblock %}
